<div class="comments">
    {{#each}}
    <section class="comment">
        <div class="user-attach">
            {{user.username}}
        </div>
        <div class="com-text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>