<section class="post-body">
    <h4>Comments on this post</h4>
</section>

<div class="comments">
    {{#each this}}
    <section class="post-body">
    <section class="comment">
        <div class="title">
          
            {{user.username}}
        </div>
        <div class="body">
            {{comment_body}}
        </div>
    </section>
    </section>
    {{/each}}
</div>