 <button id="post-btn" class="create-post"></button>
 
 <div id="create-post-modal" class="post-modal">
    <div class="post-modal-content postContainer right-panel-active">
        <span class="close">&times;</span>
        <!-- sign up -->
        <div class="container_form container_signup">
        <form action="#" class="form">
            <h2 class="form_title">Create a new post</h2>
            <input type="text" class="input" name="post-title" placeholder="Title"/>
            <textarea type="text" class="input" name="post-body" placeholder="write/paste your bad code here!"></textarea>
            <button type="submit" id="post-submit" class="auth-button">Submit</button>
        </form>
        </div>
        <!-- login -->
        <div class="container_form container_signin">
        <form action="#" class='form'>
            <div class="drop-up">
                <button type="button" id="selectLang" class="post-btns selected">
                    Select a language
                </button>
            <div id="lang-options" class="options-up">
                    <button id="javascript" type="button" class="post-btns">Javascript</button>
                    <button id="CSS" type="button"class="post-btns">CSS</button>
                    <button id="java" type="button"class="post-btns">Java</button>
                    <button id="C++" type="button"class="post-btns">C++</button>
                    <button id="cSharp" type="button"class="post-btns">C#</button>
                    <button id="Python" type="button"class="post-btns">Python</button>
                    <button id="PHP" type="button"class="post-btns">PHP</button>
            </div>
            </div>
            <div class="drop-down">
                <button type="button" id="selectGen" class="post-btns selected">
                    Select a post-type
                </button>
            <div id="gen-options" class="options">
                    <button id="advicebtn" type="button"class="post-btns">Advice</button>
                    <button id="funnybtn" type="button" class="post-btns">Funny</button>
            </div>
            </div>
        </form>
        </div>
        <!-- overlay -->
        <div class="container_overlay">
            <span><i class="far fa-times-circle" type="button" class="close-btn" id="close-post"></i></span>
            <div class="overlay">
                <div class="overlay_panel overlay_left">
                    <button class="auth-button" id="details-btn">The Deets</button>
                </div>
                <div class="overlay_panel overlay_right">
                    <button class="auth-button" id="body-btn">The Meat</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/form-handling.js" defer></script>