<section class="sidebar-right">
  <div="inner-side">
    <div class="header-card">
      <h3>We're <span class="ital">Not </span>Stack Overflow</h3>
    </div>
    <div class="about-section">
      <p>Welcome to Reddit <span class="ital">uhh I mean</span> Welcome to Critique Code.
        Are you tired of getting incessantly cyber-bullied on Stack Overflow? Are you tired of
        feeling like a terrible coder who has no business opening up their IDE everyday?
        <br>
        <span class="ital">
          Welcome to Reddit dot com
        </span>
        </br>
        Here you can write the worst code imaginable and post it for a laugh, or if that terrible
        code was an accident, then you can look for feed back.
        <br>
        Are you a great coder looking to help others learn? Are you a bad coder looking to learn? Or
        Are you painfully average and just looking to share the dumbest for loop you could think of
        writing?
        </br>
        <span class="ital">
          Welcome to Critique Reddit Overflow
        </span>
      </p>
    </div>
    <div class="create-button">
      {{#if loggedIn}}
      <button id="create-post-btn" class="create-post auth-btns">Create a post</button>
      {{else}}
      <button id="other-login-btn" class="create-post auth-btns">Create a post</button>
      {{/if}}
    </div>
    </div>
</section>