<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Critique Code</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/modal_style.css">
        <link rel="stylesheet"
            href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/night-owl.min.css"> 
        <link rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Neonderthaw&family=VT323&display=swap" rel="stylesheet">
      </head>

    <body>
        <section class="top">
        <div class="blur-head">
        <div class= "auth-btn-container">
            {{#if loggedIn}}
        <button id="logout-btn" class="auth-btns">Log Out</button>
            {{else}}
        <button id="login-btn" class="auth-btns">Log In/ <span>Sign Up</span></button>
            {{/if}}
        </div>
        <header class="h-title-container">
            <a href="/">
            <h1  class="h-title">Critique <span class="h-span" id="h-span">&lt;Code&gt;</span></h1>
            </a>
        </header>
        <div class="nav-section">
            <div class="nav-bar">
                <nav class="links">
                <a class="funny" href="/funny">Intentionally Bad</a>
                <a class="advice" href="/advice">Accidentally Bad</a>
                {{#if loggedIn}}
                <a class="profile" href="/profile">Profile</a>
                {{/if}}
                </nav>
            </div>
            <div class="search-bar">
            <form class="search-form">
            <input class="search-term" id="language-search" type="text" placeholder="What language are you looking for?" name="search">
            <button type="submit" class="search-button" id="search-btn">
                <i class="fa fa-search"></i>
            </button>
            </form>
            </div>
        </div>
        </div>
        </section>
        <main>
            {{{body}}}
            {{!-- sign up/login modal  --}}
            <div id="signup-modal" class="modal">
                <div class="modal-content container right-panel-active">
                    <!-- sign up -->
                    <div class="container_form container_signup">
                    <form action="#" class="form" id="form1">
                        <h2 class="form_title">Join in on the fun!</h2>
                        <input type="text" class="input" placeholder="Email" id="email-signup" />
                        <input type="text" class="input" placeholder="Username" id="username-signup" />
                        <input type="text" class="input" placeholder="Github" id="github-signup" />
                        <input type="password" class="input" placeholder="Password" id="password-signup" />
                        <button type="submit" class="auth-button" id="unique-btn">Sign up</button>
                    </form>
                    </div>
                    <!-- login -->
                    <div class="container_form container_signin">
                    <form action="#" class='form' id="form2">
                        <h2 class="form_title">Welcome Back!</h2>
                        <input type="text" class="input" placeholder="username" id="username-login" />
                        <input type="password" class="input" paceholder="password" id="password-login" />
                        <button type="submit" class="auth-button" id="log-btn">Log in</button>
                    </form>
                    </div>
                    <!-- overlay -->
                    <div class="container_overlay">
                        <div class="overlay">
                            <span class="close">&times;</span>
                            <div class="overlay_panel overlay_left">
                                <button class="auth-button" id="logIn">Log In</button>
                            </div>
                            <div class="overlay_panel overlay_right">
                                <button class="auth-button" id="signUp">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- create post modal --}}
                    <div id="create-post-modal" class="post-modal">
            <div class="post-modal-content postContainer right-panel-active">
                <!-- sign up -->
                <div class="container_form container_signup">
                <form action="#" class="form">
                    <h2 class="form_title">Write Your Post Here</h2>
                    <input type="text" class="input" name="post-title" placeholder="your post title"/>
                    <textarea type="text" class="input" name="post-body" placeholder="pasting it is probably smarter though"></textarea>
                    <button type="submit" id="post-submit" class="auth-button">Submit</button>
                </form>
                </div>
                <!-- login -->
                <div class="container_form container_signin">
                <form action="#" class='form'>
                    <div class="drop-up">
                        <button type="button" id="selectLang" class="post-btns selected">
                            Select a language
                        </button>
                    <div id="lang-options" class="options-up">
                            <button id="javascript" type="button" class="post-btns">Javascript</button>
                            <button id="CSS" type="button"class="post-btns">CSS</button>
                            <button id="java" type="button"class="post-btns">Java</button>
                            <button id="C++" type="button"class="post-btns">C++</button>
                            <button id="cSharp" type="button"class="post-btns">C#</button>
                            <button id="Python" type="button"class="post-btns">Python</button>
                            <button id="PHP" type="button"class="post-btns">PHP</button>
                    </div>
                    </div>
                    <div class="drop-down">
                        <button type="button" id="selectGen" class="post-btns selected">
                            Select a post-type
                        </button>
                    <div id="gen-options" class="options">
                            <button id="advicebtn" type="button"class="post-btns">Advice</button>
                            <button id="funnybtn" type="button" class="post-btns">Funny</button>
                    </div>
                    </div>
                </form>
                </div>
                <!-- overlay -->
                <div class="container_overlay">
                    <div class="overlay">
                        <span id="close-post" class="close">&times;</span>
                        <div class="overlay_panel overlay_left">
                            <button class="auth-button" id="details-btn">The Deets</button>
                        </div>
                        <div class="overlay_panel overlay_right">
                            <button class="auth-button" id="body-btn">The Meat</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </main>
        <footer>
            Test Development Build 0.1
        </footer>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>        <script></script>
        <script src="/js/syntax-highlight.js"></script>
        <script src="/js/search-language.js"></script>
        <script src="/js/vote.js"></script>
        {{#if loggedIn}}
        <script src="/js/logout.js"></script>
        {{else}}
        <script src="/js/login.js"></script>
        {{/if}}
        <script src="/js/form-handling.js"></script>
        <script src="/js/edit-profile.js"></script>
    </body>
</html>