<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Critique Code</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet"
            href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/night-owl.min.css"> 
        <link rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
        <link rel="stylesheet" href="css/modal_style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Neonderthaw&family=VT323&display=swap" rel="stylesheet">
      </head>

    <body>
        <section class="top">
        <div class="blur-head">
        <div class= "auth-btn-container">
            {{#if loggedIn}}
        <button id="logout-btn" class="auth-btns">Log Out</button>
            {{else}}
        <button id="login-btn" class="auth-btns">Log In/ <span>Sign Up</span></button>
            {{/if}}
        </div>
        <header class="h-title-container">
            <a href="/">
            <h1  class="h-title">Critique <span class="h-span" id="h-span">&lt;Code&gt;</span></h1>
            </a>
        </header>
        <div class="nav-section">
            <div class="nav-bar">
                <nav class="links">
                <a class="funny" href="/funny">Intentionally Bad</a>
                <a class="advice" href="/advice">Accidentally Bad</a>
                {{#if loggedIn}}
                <a class="profile" href="/profile">Profile</a>
                {{/if}}
                </nav>
            </div>
            <div class="search-bar">
            <form class="search-form">
            <input class="search-term" id="language-search" type="text" placeholder="What language do you want to see?" name="search">
            <button type="submit" class="search-button" id="search-btn">
                <i class="fa fa-search"></i>
            </button>
            </form>
            </div>
        </div>
        </div>
        </section>
        <main>
            {{{body}}}
            <div id="signup-modal" class="modal">
                <div class="modal-content container right-panel-active">
                    <span class="close">&times;</span>
                    <!-- sign up -->
                    <div class="container_form container_signup">
                    <form action="#" class="form" id="form1">
                        <h2 class="form_title">SIGN UP!</h2>
                        <input type="text" class="input" placeholder="Email" id="email-signup" />
                        <input type="text" class="input" placeholder="Username" id="username-signup" />
                        <input type="password" class="input" placeholder="Password" id="password-signup" />
                        <button type="submit" class="auth-button" id="signup-btn">Sign up</button>
                    </form>
                    </div>
                    <!-- login -->
                    <div class="container_form container_signin">
                    <form action="#" class='form' id="form2">
                        <h2 class="form_title">LOG IN!</h2>
                        <input type="text" class="input" placeholder="username" id="username-login" />
                        <input type="password" class="input" paceholder="password" id="password-login" />
                        <button type="submit" class="auth-button" id="log-btn">Log in</button>
                    </form>
                    </div>
                    <!-- overlay -->
                    <div class="container_overlay">
                        <div class="overlay">
                            <div class="overlay_panel overlay_left">
                                <button class="auth-button" id="logIn">Log In</button>
                            </div>
                            <div class="overlay_panel overlay_right">
                                <button class="auth-button" id="signUp">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            Test Development Build 0.1
        </footer>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>        <script></script>
        <script src="/js/syntax-highlight.js"></script>
        <script src="/js/search-language.js"></script>
        <script src="/js/create-comment.js"></script>
        <script src="/js/vote.js"></script>
        {{#if loggedIn}}
        <script src="/js/logout.js"></script>
        {{else}}
        <script src="/js/login.js"></script>
        {{/if}}
    </body>
</html>