<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Critique Code</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet"
            href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/night-owl.min.css"> 
        <link rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
      </head>

    <body>
        <section class="top">
        <div class= "auth-btns">
        <button id="signup-btn">Sign Up</button>
        <button id="login-btn">Log In</button>
        </div>
        <header class="h-title">
            <a href="/">
            <h1  class="title">Critique<span id="h-span">Code</span></h1>
            </a>
        </header>
        <div class="nav-section">
            <div class="nav-bar">
                <nav class="links">
                <a href="/funny">FUNNY CODE</a>
                <a href="/advice">BAD CODE</a>
                {{#if loggedIn}}
                <a href="/profile">PROFILE</a>
                {{/if}}
                </nav>
            </div>
            <form class="search-form">
            <input type="text" placeholder="Search" name="search">
            <button type="submit" id="search-btn">Search</button>
            </form>
        </div>
        </section>
        <main>
            {{{body}}}
            <div id="signup-modal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div class="signup-box">
                    <form class='signup-form'>
                    <section class="modal-body">
                        <h2>SIGN UP!</h2>
                        <label for="email-signup">email:</label>
                        <input type="text" id="email-signup" />
                    </section>
                    <section>
                        <label for="username-signup">username:</label>
                        <input type="text" id="username-signup" />
                    </section>
                    <section class="modal-body">
                        <label for="password-signup">password:</label>
                        <input type="password" id="password-signup" />
                    </section>
                    <section class="modal-body">
                        <button type="submit" id="signup-btn">sign up</button>
                    </section>
                    </form>
                    </div>
                    <div class="login-box">
                    <form class='login-form'>
                    <section class="modal-body">
                        <h2>LOG IN!</h2>
                        <label for="username-login">username:</label>
                        <input type="text" id="username-login" />
                    </section>
                    <section class="modal-body">
                        <label for="password-login">password:</label>
                        <input type="password" id="password-login" />
                    </section>
                    <section class="modal-body">
                        <button type="submit" id="log-btn">log in</button>
                    </section>
                </form>
                </div>
                </div>
            </div>
        </main>
        <footer>
            Test Development Build 0.1
        </footer>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>        <script></script>
        <script src="/js/syntax-highlight.js"></script>
        <script src="/js/vote.js"></script>
        <script src="/js/login.js"></script>
    </body>
</html>