<section class="left-block">
    <div>
        <h3 class="block-head">
            POST TITLE
        </h3>
    <div>
            <p>
                POST INFO
            </p>
        </div>
    </div>
</section>

<section class="right-block">
    <div>
        <h3 class="block-head">
            POST TITLE
            <button class="modalBtn">modal</button>
        </h3>
        <div>
            <p>
                POST INFO
            </p>
        </div>
    </div>
</section>

<section class="endless-scroll">
    <ul class="posts">
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
        </li>
        {{/each}}
    </ul>
</section>