<div class="top-posts">
<section class="left-block">
    <div>
        <h3 class="block-head" id="funny-title">
            POST TITLE
        </h3>
    <div class="funny-top">
            <p class="funny-post-body">
                POST INFO
            </p>
        </div>
    </div>
</section>

<section class="right-block">
    <div>
        <h3 class="block-head" id="advice-title">
            POST TITLE
        </h3>
        <div class="advice-top">
            <p class="advice-post-body">
                POST INFO
            </p>
        </div>
    </div>
</section>
</div>

<section class="endless-scroll">
    <div class="posts-timeline">
        {{#each posts as |post|}}
        <div class="post-container">
            {{> post-info post}}
        </div>
        {{/each}}
    </div>
</section>
<script src="/js/top-posts.js"></script>