<section>
    {{!-- <h2>What Do You Want to Share?</h2> --}}
{{!-- will hide form unless clicked ? --}}
  Username: {{post.user.username}}


{{#if posts.length}}
<div class="posts-timeline">
     <h2 id="posts-id">Your Posts: </h2>
        {{#each posts as |post|}}
        <div class="post-container">
            {{> post-info post}}
               <a href="/profile/edit/{{post.id}}" class="edit-link">Edit post</a>
        </div>
      
        {{/each}}
    </div>
{{/if}}

    <div id="btn-new-post-holder">
        {{!-- <button id="btn-new-post" class="btn-no-style"> + New Post</button> --}}
        <a href="/profile/create-post">Create Post</a>
    </div>

</section>