<section>
    <h2>What Do You Want to Share?</h2>
{{!-- will hide form unless clicked ? --}}
    <form class="new-post">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-body">Body</label>
            <input id="post-body" name="post-body" />
        </div>
        <div>
            <select name="tags" id="tags">
                <option value="funny">funny</option>
                <option value="advice">advice</option>
            </select>
        </div>
    </form>
</section>