<form class='signup-form'>
    <section>
        <label for="email-signup">email:</label>
        <input type="text" id="email-signup" />
    </section>
    <section>
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup" />
    </section>
    <section>
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" />
    </section>
    <section>
        <button type="submit">sign up</button>
    </section>
</form>