.options {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.options-up {
    display: none;
    position: absolute;
    bottom: 50px;
    min-width: 160px;
    z-index: 1;
}

.drop-up {
    position: relative;
    display: inline-block;
}

.drop-down:hover .options {
    display: block;
}

.drop-up:hover .options-up {
    display: block;
}

.post-btns {
    background-color: var(--blue);
	background-image: linear-gradient(90deg, var(--blue) 0%, var(--lightblue) 74%);
	border-radius: 20px;
	border: 1px solid var(--blue);
	color: var(--white);
	cursor: pointer;
    font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 0.9rem 4rem;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    position: sticky;
    margin-top: 10px;
    text-align: center;
}

.post-btns:hover {
    background-image: linear-gradient(rgb(43, 48, 66, 1), rgb(34, 34, 34, .2));
}

.post-modal {
    align-items: center;
    display: none;
    position: absolute;
    z-index: 1;
    left: 30%;
    top: 20%;
    width: 80%;
    height: 80%;
    overflow: hidden;
}

.post-modal-content {
    align-items: center;
	background-color: var(--white);
	background: url("https://images.pexels.com/photos/1342460/pexels-photo-1342460.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	height: 100vh;
	place-items: center;
}

.postContainer {
	background-color: var(--white);
	border-radius: var(--button-radius);
	box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
		0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
	height: 900px;
	max-width: 80%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.postContainer.right-panel-active .container_signin {
	transform: translateX(100%);
}

.postContainer_signup {
	left: 0;
	opacity: 0;
	width: 50%;
	z-index: 1;
}

.postContainer.right-panel-active .container_signup {
	animation: show 0.6s;
	opacity: 1;
	transform: translateX(100%);
	z-index: 5;
}

.postContainer.right-panel-active .container_overlay {
	transform: translateX(-100%);
}

.postContainer.right-panel-active .overlay {
	transform: translateX(50%);
}

@keyframes show {
	0%,
	49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%,
	100% {
		opacity: 1;
		z-index: 5;
	}
}