* {
    font-family: 'Arial Narrow', sans-serif
}

body {
    background-color: #5831F0;
    display: inline;
}

h1 {
    font-size: 34px;
    font-weight: 400;
    color: #212DD9;
}

h2 {
    font-size: 30px;
    font-weight: 500px;
    color: #2B3042
}

h3 {
    font-size: 26px;
    font-weight: normal;
    color: #7821D9
}

h4 {
    font-size: 14px;
    font-weight: 700;
    color: #C225F8
}

p {
    color: white;
    font: 16px;
}

header {
    padding: 25px 25px 0 25px;
    margin: 15px 0 0 0;
    display: flex;
    justify-content: center;
}
/* header span style */
#h-span {
    font-size: 34px;
    font-weight: 900;
}

nav {
    display: flex;
    justify-content: center
}

/* link styles and animation */
a {
    color: #000;
    position: relative;
    text-decoration: none;
}

a::before {
    background: hsl(45 100% 70%);
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: top;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}

a:hover::before {
    transform: scaleX(1);
    transform-origin: top;
}

/* signup/login buttons */
.auth-btns {
    background-color: #888;
    border: 1px solid #2B3042;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float: right;
    margin: 10px;
    position: sticky;
    top: 0;
    right: 0;
    width: 10%;
    z-index: 100;
}

/* modal CSS */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
  
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.signup-box {
    padding: 2px 16px;
    background-color: #212DD9;
    color: white;
}

.login-box {
    padding: 2px 16px;
    background-color: #C225F8;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}
/* END MODAL STYLES */

.hidden {
    opacity: 0;
}

